alabaster==0.7.16 ; python_version >= "3.10" and python_version < "4.0"
asciinema==2.4.0 ; python_version >= "3.10" and python_version < "4.0"
asciinema-automation==0.2.2 ; python_version >= "3.10" and python_version < "4.0"
asciinema-scene==0.8.2 ; python_version >= "3.10" and python_version < "4.0"
babel==2.16.0 ; python_version >= "3.10" and python_version < "4.0"
certifi==2024.8.30 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.4.0 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and (platform_system == "Windows" or sys_platform == "win32")
docutils==0.20.1 ; python_version >= "3.10" and python_version < "4.0"
idna==3.10 ; python_version >= "3.10" and python_version < "4.0"
imagesize==1.4.1 ; python_version >= "3.10" and python_version < "4.0"
jinja2==3.1.4 ; python_version >= "3.10" and python_version < "4.0"
markupsafe==3.0.2 ; python_version >= "3.10" and python_version < "4.0"
packaging==24.1 ; python_version >= "3.10" and python_version < "4.0"
pexpect==4.9.0 ; python_version >= "3.10" and python_version < "4.0"
pip==24.2 ; python_version >= "3.10" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
pygments==2.18.0 ; python_version >= "3.10" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.10" and python_version < "4.0"
snowballstemmer==2.2.0 ; python_version >= "3.10" and python_version < "4.0"
sphinx==7.4.7 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-applehelp==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-asciinema==0.4.2 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-devhelp==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-htmlhelp==2.1.0 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-qthelp==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-serializinghtml==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.2 ; python_version >= "3.10" and python_version < "3.11"
tqdm==4.66.5 ; python_version >= "3.10" and python_version < "4.0"
urllib3==1.26.20 ; python_version >= "3.10" and python_version < "4.0"
